html body{
    background: $white;
    font-size: 62.5%;
}

.hide{
  transform: translateY(-100%);
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    @media (max-width: 900px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        width: 90%;
    }
}

//grid layout
.grid-col-2{
    @include grid($grid-col-2);
}

.grid-col-3{
    @include grid($grid-col-4);
}

//a tag
a{
    color: $black;
    text-decoration: none;
}

.display-flex{
    display: flex;
}

.center-flex{
    justify-content: center;
}

.btn {
    background: $paperTransparent;
    border: 1px solid $black;
    padding: 0.5rem 2rem;
    margin: 1rem;
}
.ripple{
  position: relative;
  overflow: hidden; 
}

.ripple:before {
  border-radius: 50%;
  background-color: $backgroundTransparent;
  content:'';
  position: absolute;
  top: 50%; left: 50%;
  width:0; height:0;
}

.ripple:hover {
  background: $black;
  color: $white;
}

.ripple:focus:before {
  transition: all 0.5s ease-out;
  opacity:0;
  width:160px;
  height:160px;
  margin-top:-80px;
  margin-left:-80px;
}

