//-----
//nav
//-----
nav{
  background: linear-gradient( $backgroundTransparent, $white);
  ul{
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    li{
      list-style: none;
      padding: 2rem 0 2rem 2rem;
      a{
        padding: 0.5rem;
        transition: all 0.5s ease;
        &:hover{
          color: $backgroundDark;
        }
      }
    }
    li::after{
      content: "|";
      padding-left: 2rem;
    }
    li:last-of-type{
      &::after{
        content: ""
      }
    }
  }
}

//------
//Hero
//------
header{
  position: relative;
  .wrapper{
    height: calc(100vh - 139px);
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #watering-can{
    position: absolute;
    right:5%;
    top: 25%;
    height: 230px;
    animation: pourWater 10s ease-in-out infinite;
  }
  #branches{
    position: absolute;
    left: -53px;
    bottom: -50px;
    height: 300px;
    transform: rotate(67deg);
  }
}

@keyframes pourWater {
  0%{transform: rotate(0deg)}
  50%{transform: rotate(-20deg)}
}

// @keyframes strike{
//   0%   { width : 0; }
//   100% { width: 100%; }
// }
// .strike {
//   position: relative;
// }
// .strike:after {
//   content: ' ';
//   position: absolute;
//   top: 50%;
//   left: 0;
//   width: 100%;
//   height: 1px;
//   background: black;
//   animation-name: strike;
//   animation-duration: 4s;
//   animation-timing-function: linear;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards; 
// }